# Ignore everything in the root directory
/*

# Allow specific folders
!/wp-admin/
!/wp-content/
!/wp-includes/

# Ignore everything in wp-content except themes and plugins
/wp-content/*
!/wp-content/themes/
!/wp-content/plugins/

# Ignore everything in wp-includes except necessary files
/wp-includes/*
!/wp-includes/*.php

# Ignore specific files if needed
wp-config.php
